language: java
dist: trusty
sudo: false
addons:
  apt:
    packages:
    - ant-optional
jdk:
  - openjdk9

script:
 - "ant -buildfile build.xml complete"

after_success:
  - ls -lh /home/travis/build/openrocket/openrocket/swing/build/jar/OpenRocket.jar
  - ls -lh /home/travis/build/openrocket/openrocket/swing/build/jar/OpenRocket-Core.jar
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh /home/travis/build/openrocket/openrocket/swing/build/jar/OpenRocket.jar
  - bash upload.sh /home/travis/build/openrocket/openrocket/swing/build/jar/OpenRocket-Core.jar

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)$/