"altitude({{altitudeUnit}})","latitude","longitude","label","symbol","color","label_color","name"
{{#branches}}{{#waypoints}}"{{altitude}}","{{latitudeStr}}","{{longitudeStr}}","{{type}}","pushpin","yellow","white","{{rocketName}} {{motor}} {{label}} - {{altitude}} {{altitudeUnit}} - {{distance}} {{distanceUnit}} @ {{bearing}} deg"
{{/waypoints}}{{/branches}}
