
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(starfield.jpg);
}

#iewarn {
  width: 100%;
  font-size: 140%;
  background-color: #fa0;
  text-align: center;
  padding: 2em 2em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h1 {
  margin: 0.75em 1.7em 1.25em 120px;
  color: #bbf;
  text-align: right;
}

h2 {
  margin-top: 1.5em;
  border-bottom: dotted 2px #f99;
}
/* TODO: Change to direct next element */
div.content h2:first-child {
    margin-top: 0em;
}

h3 {
  margin-top: 1.5em;
  border-bottom: dotted 1px #99f;
}


a {
  text-decoration: none;
  color: #00B;
}
a:hover {
  color: #44c;
}


div.icon {
  position: absolute;
  width: 194px;
  height: 214px;
  left: 0px;
  top: -178px;
  background: url('icon.png') no-repeat;
}
div.icon a {
  display: block;
  position: absolute;
  left: 0px;
  right: 25px;
  top: 0px;
  bottom: 0px;
/*  border: solid 1px red; */
}


div.menucontainer {
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: 100;
}

div.menu {
  position: absolute;
  left: 20px;
  top: 95px;
  width: 170px;
  margin: 0;
  padding: 0 0;
  background: #c1d0db url(menubg.png) repeat-x;
  z-index: 200;
  border: solid 1px black;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
div.menu ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 0;
}

div.menu li {
  display: block;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}

div.menu li a {
  display: block;
  left: 0;
  right: 0;
  font-style: normal;
  text-decoration: none;
  color: #00d;
  padding: 0.65em 1em;
  outline: none;
}

div.menu li:first-child a {
  padding: 0.5em 0 !important;
  font-size: 160% !important;
  font-weight: normal !important;
  color: #003 !important;
  background-color: transparent !important;
  text-shadow: #666 1px 1px 3px;
}

div.menu li a:hover {
  background-color: #eeb6b6;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}



div.menu div.logo {
  position: absolute;
  top: 100%;
  left: -2px;
  margin-top: 15px;
  width: 100%;
}

div.menu div.logo img {
  display: block;
  margin: 0 auto;
}


.page_index div.menu a[href="index.html"],
.page_features div.menu a[href="features.html"],
.page_screenshots div.menu a[href="screenshots.html"],
.page_download div.menu a[href="download.html"],
.page_documentation div.menu a[href="documentation.html"],
.page_getinvolved div.menu a[href="getinvolved.html"],
.page_contact div.menu a[href="contact.html"],
.page_report div.menu a[href="report.html"],
.page_license div.menu a[href="license.html"] {
  font-weight: bold;
  font-size: 110%;
}


.content {
    margin: 0em 2em 1em 130px;
    padding: 2em 2em 2em 80px;
    min-height: 27em;
    background-color: white;
    position: relative;
    border: 2px solid #666;
    min-height: 530px;
}


.content div.tl, .content div.tr, .content div.bl, .content div.br {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('whitebox.png') no-repeat;
}
.content div.tl {
  top: -10px;
  left: -10px;
  background-position: 0px 0px;
}
.content div.tr {
  top: -10px;
  right: -10px;
  background-position: -50px 0px;
}
.content div.bl {
  bottom: -10px;
  left: -10px;
  background-position: 0px -50px;
}
.content div.br {
  bottom: -10px;
  right: -10px;
  background-position: -50px -50px;
}

.content div.t, .content div.b {
  position: absolute;
  height: 10px;
  left: 0px;
  right: 0px;
  background: url('whitebox-vertical.png') repeat-x;
}
.content div.t {
  top: -10px;
}
.content div.b {
  bottom: -10px;
  background-position: 0px -50px;
}

.content div.l, .content div.r {
  position: absolute;
  width: 10px;
  top: 0px;
  bottom: 0px;
  background: url('whitebox-horizontal.png') repeat-y;
}
.content div.l {
  left: -10px;
}
.content div.r {
  right: -10px;
  background-position: -50px 0px;
}



img {
  border: 0px;
  outline: none;
  font-size: 70%;
}

.smallshot {
  float: left;
  margin-top:2em;
  text-align: center;
  font-style: italic;
  margin-right: 2em;
}
.smallshot.last {
  margin-right: 0;
}
.clear {
  clear:both;
}




a.help {
  margin-left: 1em;
  font-size: smaller;
  font-style: italic;
}


pre.quote {
  margin: 0.5em 2em;
  padding: 1em;
  border: dashed 1px #888;
  background-color: #ddd;
  display: inline-block;
}

p.quote {
  margin: 2em;
}

hr {
  margin: 2em 0em;
}

.right {
  float: right;
  margin: 0;
}

li {
  margin-top: 0.5em;
}


p.download {
  margin: 2em;
}
p.download a {
  font-size: 140%;
  font-style: italic;
  padding: 0.5em;
  border: dashed 1px red;
  background-color: #89cbe0;
  outline: none;
}
p.download a:hover {
  color: #00F;
  background-color: #ee9494;
}
p.download a:focus {
  background-color: #8fd5eb;
}

div.valid {
  float: right;
  margin-right: 2em;
}



ol.toc {
  list-style-type: none;
}

dt+dt {
  margin-top: 0.5em;
}
dd {
  margin-top: 0.2em;
  margin-bottom: 1.4em;
}


div.downloadbox {
    position: relative;
    width: 175px;
    height: 80px;
    background: transparent url('greenbox.png') no-repeat;
    text-align: left;
}

div.downloadbox a.main {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    color: #a0ff4b;
    font-family: Arial, sans-serif;

    padding: 10px 12px;
    text-shadow: #666 1px 1px 1px;
}
div.downloadbox a.main span {
    font-size: 90%;
}
div.downloadbox a.main:hover {
  text-shadow: #000 1px 1px 1px;
}

div.downloadbox a strong {
    display: block;
    margin-bottom: 3px;
    color: white;
    font-weight: bold;
    font-size: larger;
}
div.downloadbox a:hover strong {
    text-shadow: #666 1px 1px 1px;
}


div.downloadbox .alternative {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 10px 10px 10px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #244506;
}
div.downloadbox .alternative a {
    color: #244506;
}
div.downloadbox .alternative a+a {
    text-align: right;
}
div.downloadbox .alternative a:hover {
    color: black;
}
/*
.page_index div.downloadbox {
    width: 195px;
    margin: 0.5em 0 1em 50px;
}
*/
.rightpane {
    width: 210px;
    float: right;
    clear: both;
    margin: 0 0 0 30px;
    text-align: center;
}
.rightpane div {
    margin: 2em auto;
}

.rightpane div.downloadbox {
    margin: 0 auto 2em auto;
}
.rightpane div.screenshot {
    font-size: smaller;
    font-style: italic;
    text-align: center;
}
.rightpane div.support {
    margin-bottom: 0;
    text-align: center;
}

.page_download div.support {
    margin: 20px 0;
}

.rightimg {
    width: 210px;
    float: right;
    clear: both;
    margin: 2em 0 2em 30px;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}
.rightimg img {
    display: block;
    margin-bottom: 1em;
}



div.news .date {
    font-weight: bold;
}

.page_download div.contentholder {
    margin-right: 15em;
}
.page_download div.news {
    background-color: white;
    padding-left: 3em;
    float: right;
    width: 18em;
    font-size: x-small;
}
.page_download div.news h2 {
    border-bottom: none;
    margin-bottom: 1em;
}
.page_download div.news .date {
    display: block;
}
.page_download div.downloadbox {
    margin-left: auto;
    margin-right: auto;
}


li.spacer {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.screenshots {
    background-color: white;
    padding-left: 3em;
    float: right;
    width: 270px;
    font-size: x-small;
}
.smallshotconst {
  width: 270px;
  height: 220px;
  margin: 0em 1em;
  text-align: center;
  font-style: italic;
}
.smallshotconst em {
  font-style: normal;
}



pre.license {
    width: 46em;
    margin: 1em auto;
}


.note {
    font-size: 80%;
}

.spacing {
    margin-top: 2em;
    margin-bottom: 2em;
}

dl {
    margin: 0 2em;
}

span.command {
    white-space: nowrap;
    font-family: monospace;
    border: solid 1px #ddd;
    background-color: #eee;
    padding: 1px 3px;
}

.center {
    text-align: center;
}