<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sf.openrocket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".android.Application"
        android:icon="@drawable/or_launcher"
        android:killAfterRestore="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".android.Main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                 I don't understand why I need to have two different intent filters. 
				Combining the <data> elements into a single field did not result in a working 
				application. The first intent-filter (with mimeType wildcard) convinces the 
				file browser to associate the correct launcher icon. the second intent-filter 
				is actually invoked when a file is selected.
            -->
            <!-- this intent filter convinces the file browser to display icons -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.ork"
                    android:scheme="file" />
            </intent-filter>
            <!-- this intent is sent when a file is selected in file browser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.ork"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.rocket.OpenRocketViewer"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".android.PreferencesActivity" >
            <intent-filter>
                <action android:name="net.sf.openrocket.android.PreferencesActivity" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name=".android.motor.MotorBrowserActivity" />
        <activity
            android:name=".android.motor.BurnPlotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.thrustcurve.TCQueryActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".android.simulation.SimulationViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.filebrowser.SimpleFileBrowser"
            android:theme="@style/Theme.Sherlock.Dialog" />

        <service android:name=".android.simservice.SimulationService" />
    </application>

</manifest>