
body {
  margin: 0;
  padding: 0;
}

#iewarn {
  width: 100%;
  background-color: #fa0;
  text-align: center;
  padding: 1em 2em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}


h1 {
  margin: 0.75em 2em 1.25em 2em;
}

h2 {
  margin-top: 1.5em;
  border-bottom: dotted 2px #f99;
}

a {
  text-decoration: none;
  color: #00F;
}
a:hover {
  color: #55c;
}


div.menucontainer {
  position: relative;
}

div.menu {
  position: absolute;
  left: 1.5em;
  width: 12em;
  margin: 0;
  padding: 0 0;
  background-color: #ccc;
}
div.menu ul {
  position: relative;
  left: -2px;
  top: -2px;
  right: 2px;
  bottom: 2px;
  background-color: #89cbe0;
  border: solid 1px black;
  list-style: none;
  margin: 0;
  padding: 0 0;
}

div.menu li {
  display: block;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}

div.menu li:first-child {
  padding: 0.5em 0;
  font-size: 160%;
}

div.menu li+li {
  border-top: dashed 1px black;
}

div.menu li a {
  display: block;
  left: 0;
  right: 0;
  font-style: normal;
  text-decoration: none;
  color: #00d;
  padding: 0.75em 1em;
  outline: none;
}
div.menu li a:focus {
  background-color: #8fd5eb;
}

div.menu li a:hover {
  background-color: #ee9494;
}

div.menu div.logo {
  position: absolute;
  top: 100%;
  left: -2px;
  margin-top: 15px;
  width: 100%;
}

div.menu div.logo img {
  display: block;
  margin: 0 auto;
}


.page_index div.menu a[href="index.html"],
.page_features div.menu a[href="features.html"],
.page_screenshots div.menu a[href="screenshots.html"],
.page_download div.menu a[href="download.html"],
.page_documentation div.menu a[href="documentation.html"],
.page_contact div.menu a[href="contact.html"],
.page_report div.menu a[href="report.html"],
.page_license div.menu a[href="license.html"] {
  font-weight: bold;
  font-size: 110%;
}


.content {
  margin: 0em 2em 2em 15.5em;
  min-height: 27em;
}

img {
  border: 0px;
  outline: none;
  font-size: 70%;
}

.smallshot {
  float: left;
  margin-top:2em;
  text-align: center;
  font-style: italic;
  margin-right: 2em;
}
.smallshot.last {
  margin-right: 0;
}
.clear {
  clear:both;
}


.smallshotconst {
  float: left;
  width: 270px;
  height: 220px;
  margin: 1em 1em;
  text-align: center;
  font-style: italic;
}
.smallshotconst em {
  font-style: normal;
}



a.help {
  margin-left: 1em;
  font-size: smaller;
  font-style: italic;
}


pre.quote {
  margin: 2em;
  padding: 1em;
  border: dashed 1px #888;
  background-color: #ddd;
}

p.quote {
  margin: 2em;
}

hr {
  margin: 2em 0em;
}

.right {
  float: right;
  margin: 0;
}

li {
  margin-top: 0.5em;
}


p.download {
  margin: 2em;
}
p.download a {
  font-size: 140%;
  font-style: italic;
  padding: 0.5em;
  border: dashed 1px red;
  background-color: #89cbe0;
  outline: none;
}
p.download a:hover {
  color: #00F;
  background-color: #ee9494;
}
p.download a:focus {
  background-color: #8fd5eb;
}

div.valid {
  float: right;
  margin-right: 2em;
}



ol.toc {
  list-style-type: none;
}

dt+dt {
  margin-top: 0.5em;
}
dd {
  margin-top: 0.2em;
  margin-bottom: 1.4em;
}
